# --- Secrets ---
.env
gcp-key.json

# --- Airflow ---
logs/

# --- dbt ---
dbt/profiles.yml
dbt/.user.yml
dbt/target/
dbt/logs/

# --- Great Expectations ---
great_expectations/uncommitted/

# --- MLflow ---
mlruns/

# --- Docker ---
postgres_data/
marquez_data/
superset_home/

# --- Python ---
*.pyc
__pycache__/
.venv/
venv/

# --- Data artifacts ---
*.csv
*.db
*.pkl
*.keras

# --- Temp / test ---
test_ol.py